  html,
  body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  }

  a {
  color: inherit;
  text-decoration: none;
  }

  * {
  box-sizing: border-box;
  }

  @media (prefers-color-scheme: dark) {
  html {
  color-scheme: dark;
  }
  body {
  color: white;
  background: black;
  background-image: url('../public//images/body.jpg');
  }
  }
  /* container  */
  .container{
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  }
  /* container  */

  /* start player  */
  .quraan-player{
  background-color: #fff ;
  color:#fff;
  font-size: 20px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  background: rgb(11, 161, 155);
  background: linear-gradient(90deg, rgba(11, 161, 155, 1) 0%, rgba(0, 97, 80, 1) 100%);
  box-shadow: 3px 3px 18px 3px rgb(27 27 27 / 45%);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  position: sticky;
  top: 0;
  z-index: 1000;
  }

  @media (max-width:767px) {
      .quraan-player{
        position: fixed  ;
        bottom: 0 ;
        left: 0 ;
        top: 60%;
        width: 100%;
        font-size: 14px ;
          border-top-left-radius: 14px;
            border-top-right-radius: 14px;
      }
    
  }
  .player audio{
  width: 90%;

  }
  .controls{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .controls span{
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  }

  .surah-info{
  display: flex;
  flex-direction: column;
  align-items: end;
  }
  @media (max-width:767px) {
      .surah-info{
        margin-bottom: 350px;
      }
  }
  .surah{
  background-color: #fff;
  width: calc(100% - 100px) ;
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: end;
  margin: 26px 0;
  padding: 14px;
  border-radius: 14px;
  box-shadow: 3px 3px 18px 3px rgb(27 27 27 / 25%);
  cursor: pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  counter-increment: surah-counter;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  }
    .surah.active{
  background-color: rgb(16, 146, 118);
    color: #fff;
    }
  .surah::after{
  content: counter(surah-counter);
  position: absolute;
  width: 30px;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  box-shadow: inherit;
  border-radius:50% ;
  padding: 20px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  }
 .surah::before{
  content: '';
  border: 7px solid transparent;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: transparent;
  border-right-color: rgb(16, 146, 118);
  border-bottom-color: transparent;
  border-top-color: transparent;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
  .surah:hover,
  .surah:hover.surah::after{
  background-color: rgb(16, 146, 118);
  color: #fff;
  }
  @media (max-width:767px) {
    .surah{
    width: 80%;
    font-size: 16px;
  }
}
  .loading{
    display: block;
      width: 100%;
      margin-top: 16px;
    background-color:rgb(16, 146, 118) ;
    font-size: 28px;
    text-align: center;
    padding: 16px;

  }
